{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>SUMMER OYLMPICS</title>
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static '/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"​>
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"​>
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
	
		<div class="container-table100">
		<div >
			<img src="{% static "images/olympic.jpg" %}" alt="Symbol" style=" width:200px;height:125px;">
		</div>
																															<div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
		<div>
			<h1 style="font-weight: bold; color: black; "> Summer Olypmics</h1>
		</div>
			<table>
				<th><a href="/Website/table"> Home </a></th>
				<th> <a href="/Website/bar"> Column Chart </a></th>
				<th> <a href="/Website/line"> Line Chart </a></th>
				<th> <a href="/Website/pie"> Pie Chart </a></th>
			</table>
			<div class="wrap-table100">
				
				<br/><br/>
				<div class="table100">
					
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Id</th>
								<th class="column1">Athlete</th>
								<th class="column3">Sport</th>
								<th class="column4">Discipline</th>
								<th class="column6">Country</th>
								<th class="column7">Gender</th>
								<th class="column8">Event</th>
								<th class="column9">Medal</th>
								<th class="column9">year</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="column1">1</td>
								<td class="column1">GOMPF, Thomas Eugen</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">USA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Gold</td>
								<td class="column6">1964</td>
							</tr><tr>
								<td class="column1">2</td>
								<td class="column1">WEBSTER, Robert David</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">USA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Silver</td>
								<td class="column6">1964</td>
							</tr><tr>
								<td class="column1">3</td>
								<td class="column1">DIBIASI, Klaus</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">ITA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Bronze</td>
								<td class="column6">1964</td>
							</tr>
								
							<tr>
								<td class="column1">4</td>
								<td class="column1">DONATH, Ursula</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">CAN</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Gold</td>
								<td class="column6">1988</td>
							</tr>	
							<tr>
								<td class="column1">5</td>
								<td class="column1">NOA, Brenda</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">AUS</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Silver</td>
								<td class="column6">1988</td>
							</tr>	
							<tr>
								<td class="column1">6</td>
								<td class="column1">PRESS, Iryna</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">NZL</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Bronze</td>
								<td class="column6">1988</td>
							</tr>
							<tr>
								<td class="column1">7</td>
								<td class="column1">ADINE, Henrik</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">GER</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Gold</td>
								<td class="column6">2000</td>
							</tr><tr>
								<td class="column1">8</td>
								<td class="column1">RONAK, Desai</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">IND</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Silver</td>
								<td class="column6">2000</td>
							</tr><tr>
								<td class="column1">9</td>
								<td class="column1">KOPLYAKOV, Sergei</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">POL</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Bronze</td>
								<td class="column6">2000</td>
							</tr>
							<tr>
								<td class="column1">10</td>
								<td class="column1">AMANAR, Simona</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">RUS</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Gold</td>
								<td class="column6">1980</td>
							</tr>
							<tr>
								<td class="column1">11</td>
								<td class="column1">KHORKINA, Svetlana</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">USA</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Silver</td>
								<td class="column6">1980</td>
							</tr>
							<tr>
								<td class="column1">12</td>
								<td class="column1">ZAMOLODCHIKOVA, Elena</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">CAN</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Bronze</td>
								<td class="column6">1980</td>
							</tr>
							<tr>
								<td class="column1">13</td>
								<td class="column1">GOMPF, Thomas Eugen</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">USA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Gold</td>
								<td class="column6">1964</td>
							</tr><tr>
								<td class="column1">14</td>
								<td class="column1">WEBSTER, Robert David</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">USA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Silver</td>
								<td class="column6">1964</td>
							</tr><tr>
								<td class="column1">15</td>
								<td class="column1">DIBIASI, Klaus</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">ITA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Bronze</td>
								<td class="column6">1964</td>
							</tr>
								
							<tr>
								<td class="column1">16</td>
								<td class="column1">DONATH, Ursula</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">CAN</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Gold</td>
								<td class="column6">1904</td>
							</tr>	
							<tr>
								<td class="column1">17</td>
								<td class="column1">NOA, Brenda</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">AUS</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Silver</td>
								<td class="column6">1904</td>
							</tr>	
							<tr>
								<td class="column1">18</td>
								<td class="column1">PRESS, Iryna</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">NZL</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Bronze</td>
								<td class="column6">1904</td>
							</tr>
							<tr>
								<td class="column1">19</td>
								<td class="column1">ADINE, Henrik</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">GER</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Gold</td>
								<td class="column6">2000</td>
							</tr><tr>
								<td class="column1">20</td>
								<td class="column1">RONAK, Desai</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">IND</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Silver</td>
								<td class="column6">2000</td>
							</tr><tr>
								<td class="column1">21</td>
								<td class="column1">KOPLYAKOV, Sergei</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">POL</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Bronze</td>
								<td class="column6">2000</td>
							</tr>
							<tr>
								<td class="column1">22</td>
								<td class="column1">AMANAR, Simona</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">RUS</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Gold</td>
								<td class="column6">1980</td>
							</tr>
							<tr>
								<td class="column1">23</td>
								<td class="column1">KHORKINA, Svetlana</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">USA</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Silver</td>
								<td class="column6">1980</td>
							</tr>
							<tr>
								<td class="column1">24</td>
								<td class="column1">ZAMOLODCHIKOVA, Elena</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">CAN</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Bronze</td>
								<td class="column6">1980</td>
							</tr>

							<tr>
								<td class="column1">25</td>
								<td class="column1">GOMPF, Thomas Eugen</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">USA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Gold</td>
								<td class="column6">1964</td>
							</tr><tr>
								<td class="column1">26</td>
								<td class="column1">WEBSTER, Robert David</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">USA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Silver</td>
								<td class="column6">1964</td>
							</tr><tr>
								<td class="column1">27</td>
								<td class="column1">DIBIASI, Klaus</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">ITA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Bronze</td>
								<td class="column6">1964</td>
							</tr>
								
							<tr>
								<td class="column1">28</td>
								<td class="column1">DONATH, Ursula</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">CAN</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Gold</td>
								<td class="column6">1904</td>
							</tr>	
							<tr>
								<td class="column1">29</td>
								<td class="column1">NOA, Brenda</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">AUS</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Silver</td>
								<td class="column6">1904</td>
							</tr>	
							<tr>
								<td class="column1">30</td>
								<td class="column1">PRESS, Iryna</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">NZL</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Bronze</td>
								<td class="column6">1904</td>
							</tr>
							<tr>
								<td class="column1">31</td>
								<td class="column1">ADINE, Henrik</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">GER</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Gold</td>
								<td class="column6">2000</td>
							</tr><tr>
								<td class="column1">32</td>
								<td class="column1">RONAK, Desai</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">IND</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Silver</td>
								<td class="column6">2000</td>
							</tr><tr>
								<td class="column1">33</td>
								<td class="column1">KOPLYAKOV, Sergei</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">POL</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Bronze</td>
								<td class="column6">2000</td>
							</tr>
							<tr>
								<td class="column1">34</td>
								<td class="column1">AMANAR, Simona</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">RUS</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Gold</td>
								<td class="column6">1980</td>
							</tr>
							<tr>
								<td class="column1">35</td>
								<td class="column1">KHORKINA, Svetlana</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">USA</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Silver</td>
								<td class="column6">1980</td>
							</tr>
							<tr>
								<td class="column1">36</td>
								<td class="column1">ZAMOLODCHIKOVA, Elena</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">CAN</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Bronze</td>
								<td class="column6">1980</td>
							</tr>

							<tr>
								<td class="column1">37</td>
								<td class="column1">GOMPF, Thomas Eugen</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">USA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Gold</td>
								<td class="column6">1964</td>
							</tr><tr>
								<td class="column1">38</td>
								<td class="column1">WEBSTER, Robert David</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">USA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Silver</td>
								<td class="column6">1964</td>
							</tr><tr>
								<td class="column1">39</td>
								<td class="column1">DIBIASI, Klaus</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">ITA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Bronze</td>
								<td class="column6">1964</td>
							</tr>
								
							<tr>
								<td class="column1">40</td>
								<td class="column1">DONATH, Ursula</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">CAN</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Gold</td>
								<td class="column6">1904</td>
							</tr>	
							<tr>
								<td class="column1">41</td>
								<td class="column1">NOA, Brenda</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">AUS</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Silver</td>
								<td class="column6">1904</td>
							</tr>	
							<tr>
								<td class="column1">42</td>
								<td class="column1">PRESS, Iryna</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">NZL</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Bronze</td>
								<td class="column6">1904</td>
							</tr>
							<tr>
								<td class="column1">43</td>
								<td class="column1">ADINE, Henrik</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">GER</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Gold</td>
								<td class="column6">2000</td>
							</tr><tr>
								<td class="column1">44</td>
								<td class="column1">RONAK, Desai</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">IND</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Silver</td>
								<td class="column6">2000</td>
							</tr><tr>
								<td class="column1">45</td>
								<td class="column1">KOPLYAKOV, Sergei</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">POL</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Bronze</td>
								<td class="column6">2000</td>
							</tr>
							<tr>
								<td class="column1">46</td>
								<td class="column1">AMANAR, Simona</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">RUS</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Gold</td>
								<td class="column6">1980</td>
							</tr>
							<tr>
								<td class="column1">47</td>
								<td class="column1">KHORKINA, Svetlana</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">USA</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Silver</td>
								<td class="column6">1980</td>
							</tr>
							<tr>
								<td class="column1">48</td>
								<td class="column1">ZAMOLODCHIKOVA, Elena</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">CAN</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Bronze</td>
								<td class="column6">1980</td>
							</tr>

							<tr>
								<td class="column1">49</td>
								<td class="column1">GOMPF, Thomas Eugen</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">USA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Gold</td>
								<td class="column6">1964</td>
							</tr><tr>
								<td class="column1">50</td>
								<td class="column1">WEBSTER, Robert David</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">USA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Silver</td>
								<td class="column6">1964</td>
							</tr><tr>
								<td class="column1">51</td>
								<td class="column1">DIBIASI, Klaus</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">ITA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Bronze</td>
								<td class="column6">1964</td>
							</tr>
								
							<tr>
								<td class="column1">52</td>
								<td class="column1">DONATH, Ursula</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">CAN</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Gold</td>
								<td class="column6">1904</td>
							</tr>	
							<tr>
								<td class="column1">53</td>
								<td class="column1">NOA, Brenda</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">AUS</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Silver</td>
								<td class="column6">1904</td>
							</tr>	
							<tr>
								<td class="column1">54</td>
								<td class="column1">PRESS, Iryna</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">NZL</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Bronze</td>
								<td class="column6">1904</td>
							</tr>
							<tr>
								<td class="column1">55</td>
								<td class="column1">ADINE, Henrik</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">GER</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Gold</td>
								<td class="column6">2000</td>
							</tr><tr>
								<td class="column1">8</td>
								<td class="column1">RONAK, Desai</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">IND</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Silver</td>
								<td class="column6">2000</td>
							</tr><tr>
								<td class="column1">9</td>
								<td class="column1">KOPLYAKOV, Sergei</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">POL</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Bronze</td>
								<td class="column6">2000</td>
							</tr>
							<tr>
								<td class="column1">10</td>
								<td class="column1">AMANAR, Simona</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">RUS</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Gold</td>
								<td class="column6">1980</td>
							</tr>
							<tr>
								<td class="column1">11</td>
								<td class="column1">KHORKINA, Svetlana</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">USA</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Silver</td>
								<td class="column6">1980</td>
							</tr>
							<tr>
								<td class="column1">12</td>
								<td class="column1">ZAMOLODCHIKOVA, Elena</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">CAN</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Bronze</td>
								<td class="column6">1980</td>
							</tr>

							<tr>
								<td class="column1">1</td>
								<td class="column1">GOMPF, Thomas Eugen</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">USA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Gold</td>
								<td class="column6">1964</td>
							</tr><tr>
								<td class="column1">2</td>
								<td class="column1">WEBSTER, Robert David</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">USA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Silver</td>
								<td class="column6">1964</td>
							</tr><tr>
								<td class="column1">3</td>
								<td class="column1">DIBIASI, Klaus</td>
								<td class="column3">Aquatics</td>
								<td class="column4">Diving</td>
								<td class="column6">ITA</td>
								<td class="column6">Men</td>
								<td class="column6">10M Platform</td>
								<td class="column6">Bronze</td>
								<td class="column6">1964</td>
							</tr>
								
							<tr>
								<td class="column1">4</td>
								<td class="column1">DONATH, Ursula</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">CAN</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Gold</td>
								<td class="column6">1904</td>
							</tr>	
							<tr>
								<td class="column1">5</td>
								<td class="column1">NOA, Brenda</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">AUS</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Silver</td>
								<td class="column6">1904</td>
							</tr>	
							<tr>
								<td class="column1">6</td>
								<td class="column1">PRESS, Iryna</td>
								<td class="column3">Tennis</td>
								<td class="column4">Tennis</td>
								<td class="column6">NZL</td>
								<td class="column6">Women</td>
								<td class="column6">Single Sculls (1X)</td>
								<td class="column6">Bronze</td>
								<td class="column6">1904</td>
							</tr>
							<tr>
								<td class="column1">7</td>
								<td class="column1">ADINE, Henrik</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">GER</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Gold</td>
								<td class="column6">2000</td>
							</tr><tr>
								<td class="column1">8</td>
								<td class="column1">RONAK, Desai</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">IND</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Silver</td>
								<td class="column6">2000</td>
							</tr><tr>
								<td class="column1">9</td>
								<td class="column1">KOPLYAKOV, Sergei</td>
								<td class="column3">Athletics</td>
								<td class="column4">Athletics</td>
								<td class="column6">POL</td>
								<td class="column6">Men</td>
								<td class="column6">Decathlon</td>
								<td class="column6">Bronze</td>
								<td class="column6">2000</td>
							</tr>
							<tr>
								<td class="column1">10</td>
								<td class="column1">AMANAR, Simona</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">RUS</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Gold</td>
								<td class="column6">1980</td>
							</tr>
							<tr>
								<td class="column1">11</td>
								<td class="column1">KHORKINA, Svetlana</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">USA</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Silver</td>
								<td class="column6">1980</td>
							</tr>
							<tr>
								<td class="column1">12</td>
								<td class="column1">ZAMOLODCHIKOVA, Elena</td>
								<td class="column3">Gymnastics</td>
								<td class="column4">Artistic</td>
								<td class="column6">CAN</td>
								<td class="column6">Women</td>
								<td class="column6">Floor Exercises</td>
								<td class="column6">Bronze</td>
								<td class="column6">1980</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


<!--===============================================================================================-->	
	<script src="{% static '/js/main.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/js/main.js' %}"></script>
	<script src="{% static '/js/main.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/js/main.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/js/main.js' %}​"></script>

</body>
</html>